.nav-btn {
    height: 50px;
    width: 200px;
    padding: 0 !important;
    display: inline-flex;
    
    .nav-btn-text{
        font-size: 20px;
        top: 0;
        color: white;
    }
}

.nav-icon{
    height: 50px;
    width: 50px;
} 

.bg-primary-init {
    background-color: #0096bf !important;
    .c{
        background-color: #084c95 !important;
    }
}

.bg-primary-service {
    background-color: #d47700 !important;
    .c{
        background-color: #f9b318 !important;
    }
}

.bg-primary-expa {
    background-color: #7ac943 !important;
    .c{
        background-color: #219d39 !important;
    }
}

.bg-primary-legal {
    background-color: #f85272 !important;
    .c{
        background-color: #fa9bb1 !important;
    }
}

.bg-primary-client {
    background-color: #d9a7e2 !important;
    .c{
        background-color: #9e27b5 !important;
    }
}

.bg-primary-contact {
    background-color: #53b6b2 !important;
    .c{
        background-color: #006f97 !important;
    }
}

////////////////////////////////////////@extend
.h-100{
    height: 100%;
    .m-size {
        max-width: 50%;
        max-height: 65%;
    }
}
